/* Tags options
---------------------------------------*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:focus,
textarea:focus,
select:focus,
button:focus{
    outline: none;
}
button,
input[type=submit],
input[type=reset]{
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: pointer;
}
img{
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: crisp-edges;
}
img,
canvas{
    vertical-align: middle;
}
label{
    cursor: pointer;
}
.row:after,
.row::after,
.clearfix{
    display: block;
    content: '';
    clear: both;
}
.container {
    max-width: 1026px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}
/* Main
---------------------------------------*/
html, body {
    height: 100%;
}
body {
    font-family: "PTSansRegular", sans-serif;
    background: #fff;
}
.wrapper {
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.2);
    -o-box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    min-width: 1340px;
    max-width: 1366px;
    background: #fff;
    font-size: 14px;
    padding: 0 0 350px;
    margin: 0 auto -350px;
    position: relative;
    min-height: 100%;
    height: auto;
}
/* Header
---------------------------------------*/
.header {
    background-color: #eee;
}
.header-container{
    padding: 25px 10px;
}
.header-top:after,
.header-top::after,
.header-middle:after,
.header-middle::after,
.header-bottom:after,
.header-bottom::after{
    display: block;
    content: '';
    clear: both;
}
.header-top {
    height: 106px;
}
.header-top__logo {
    text-align: center;
    min-height: 1px;
    float: left;
    width: 20%;
}
.header-top__title {
    text-align: center;
    min-height: 1px;
    float: left;
    width: 60%;
}
.header-top__title_text {
    font-family: "AGLettericaCondL-Regular", sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    display: table-cell;
    font-size: 26px;
    width: 1000px;
    height: 106px;
}
.header-top__main-logo {
    text-align: center;
    min-height: 1px;
    float: left;
    width: 20%;
}
.header-top__main-logo_img {
    vertical-align: middle;
    display: table-cell;
    height: 106px;
    width: 500px;
}
.header-top__main-logo_img a:last-child{
    float: right;
}
.header-middle {
    margin-top: 20px;
}
.header-middle__contact {
    text-align: center;
    min-height: 1px;
    float: left;
    width: 20%;
}
.header-middle__contact_link {
    background-color: #319b3f;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
}
.header-middle__search {
    position: relative;
    min-height: 1px;
    padding: 0 3px;
    float: left;
    width: 58%;
}
.header-middle__search_input {
    padding: 5px 30px 5px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-style: italic;
    height: 30px;
    width: 100%;
}
.header-middle__search_btn {
    position: absolute;
    background: #fff;
    font-size: 16px;
    color: #319b3f;
    height: 22px;
    width: 30px;
    right: 4px;
    border: 0;
    top: 4px;
}
.header-middle__language {
    text-align: center;
    min-height: 1px;
    float: left;
    width: 14%;
}
.header-middle__language_list {
    display: inline-flex;
    list-style: none;
}
.header-middle__language_list li {
    padding: 0 2px;
}
.header-middle__language_item a {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    background: #fff;
    transition: .2s;
    font-size: 11px;
    color: #000;
    height: 31px;
    width: 30px;
}
.header-middle__language_item a:hover,
.header-middle__language_list .active a {
    background: #319b3f;
    color: #fff;

}
.header-middle__social {
    text-align: right;
    min-height: 1px;
    float: left;
    width: 8%;
}
.header-middle__social_list {
    display: inline-flex;
    list-style: none;
}
.header-middle__social_list li {
    padding: 0 2px;
}
.header-middle__social_item {
    vertical-align: middle;
    display: table-cell;
    padding-right: 2px;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    padding-top: 3px;
    font-size: 18px;
    transition: .3s;
    height: 30px;
    width: 30px;
    color: #fff;
}
.header-middle__social_item:hover {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    -o-box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
}
.header-middle__social .facebook {
    background-color: #4267B2;
}
.header-middle__social .youtube {
    background-color: #FF0000;
}
.header-bottom {
    background-color: #4B4D4E;
}
.header-bottom .container {
    text-align: center;
}
.header-bottom__list {
    display: inline-flex;
    list-style: none;
    font-size: 14px;
    padding: 15px 0;
}
.header-bottom__list .active .header-bottom__link,
.header-bottom__link:hover{
    color: #319b3f;
}
.header-bottom__item {
    border-right: 1px solid #319b3f;
    line-height: 30px;
    padding: 0 30px;
}
.header-bottom__item:last-child {
    border-right: 0;
}
.header-bottom__link {
    text-transform: uppercase;
    color: #fff;
}
/* Footer
---------------------------------------*/
.footer {
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.2);
    -o-box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    background-color: #319b3f;
    position: relative;
    max-width: 1366px;
    height: 350px;
    margin: auto;
    z-index: 10;
    width: 100%;
}
.footer-top {
    background-color: #4B4D4E;
}
.footer-top .container {
    text-align: center;
}
.footer-top__list {
    display: inline-flex;
    list-style: none;
    font-size: 14px;
    padding: 15px 0;
}
.footer-top__list .active .footer-top__link,
.footer-top__link:hover{
    color: #319b3f;
}
.footer-top__item {
    border-right: 1px solid #319b3f;
    line-height: 30px;
    padding: 0 30px;
}
.footer-top__item:last-child {
    border-right: 0;
}
.footer-top__link {
    text-transform: uppercase;
    color: #fff;
}
.footer-middle {
    padding: 30px 0;
    color: #fff;
}
.footer-middle:after{
    display: block;
    content: '';
    clear: both;
}
.footer-middle__contact,
.footer-middle__address,
.footer-middle__visitation {
    width: 25%;
    min-height: 1px;
    float: left;
}
.footer-middle__contact {
    margin-left: 12.5%;
}
.footer-middle__contact_title,
.footer-middle__address_title,
.footer-middle__visitation_title {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer-middle__contact_text ul,
.footer-middle__address_text ul,
.footer-middle__visitation_text ul{
    list-style: none;
    font-size: 14px;
}
.footer-middle__contact_link {
    color: #fff;
}
.footer-middle__visitation {
    margin-right: 12.5%;
}
.footer-middle__social {
    text-align: center;
    padding-top: 20px;
    min-height: 1px;
    width: 100%;
    float: left;
}
.footer-middle__social_list {
    display: inline-flex;
    list-style: none;
}
.footer-middle__social_item {
    padding: 0 10px;
}
.footer-middle__social_item .facebook {color: #4267B2}
.footer-middle__social_item .youtube {color: #FF0000}
.footer-middle__social_item .instagram {color: #9C1E89}
.footer-middle__social_link {
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    padding-left: 1px;
    padding-top: 5px;
    transition: .3s;
    height: 30px;
    width: 30px;
}
.footer-middle__social_link:hover {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    -o-box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
    box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
}
.footer-bottom:after {
    padding: 30px 0;
    color: #fff;
}
.footer-bottom__info {
    margin-left: 18%;
    min-height: 1px;
    float: left;
    width: 70%;
}
.footer-bottom__img {
    min-height: 1px;
    opacity: .2;
    float: left;
    width: 18%;
}
.footer-bottom__text {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-size: 12px;
    min-height: 1px;
    float: left;
    width: 82%;
}
.footer-bottom__text:last-child {
    margin-top: 25px;
}
/* Main Carousel
---------------------------------------*/
.main-carousel .owl-next {
    text-shadow: 0 0 50px rgba(0,0,0,.7);
    font-size: 70px !important;
    color: #AEB0B3;
    position: absolute;
    right: 100px;
    top: 210px;
}
.main-carousel .owl-prev {
    text-shadow: 0 0 50px rgba(0,0,0,.7);
    font-size: 70px !important;
    color: #AEB0B3;
    position: absolute;
    left: 100px;
    top: 210px;
}
.main-carousel .owl-next:hover,
.main-carousel .owl-prev:hover {
    color: #fff;
}
.main-carousel .owl-dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.main-carousel .owl-dots .owl-dot.active span,
.main-carousel .owl-dots .owl-dot:hover span {
    background: #319b3f;
}
.main-carousel .owl-dots .owl-dot span {
    background: #fff;
    border-radius: 0;
}
.main-carousel .item:after {
    background-color: rgba(0, 0, 0,.5);
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
}
.main-carousel__img {
    display: block;
    height: 450px;
    background: no-repeat 50% / cover;
    position: relative;
}
.main-carousel__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    font-size: 50px;
    width: 766px;
    margin: auto;
    left: 300px;
    color: #fff;
    top: 170px;
    z-index: 1;
}
.main-carousel__desc {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    width: 766px;
    margin: auto;
    left: 300px;
    color: #fff;
    top: 230px;
    z-index: 1;
}
.main-carousel__btn {
    position: absolute;
    text-align: center;
    bottom: 130px;
    width: 100%;
    z-index: 1;
}
.main-carousel__link {
    text-transform: uppercase;
    border: 1px solid #319b3f;
    display: inline-block;
    line-height: 35px;
    transition: .3s;
    padding: 0 25px;
    color: #ffffff;
}
.main-carousel__link:hover {
    -webkit-box-shadow: 0 0 20px rgb(49, 155, 63) inset;
    -moz-box-shadow: 0 0 20px rgb(49, 155, 63) inset;
    -o-box-shadow: 0 0 20px rgb(49, 155, 63) inset;
    box-shadow: 0 0 20px rgb(49, 155, 63) inset;
}
/* Info-graphics
---------------------------------------*/
.info-graphics {
    background-color: #319b3f;
    padding: 20px 0;
}
.info-graphics__list:after {
    display: block;
    content: '';
    clear: both;
}
.info-graphics__item {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 5px 15px;
    min-height: 1px;
    float: left;
    width: 25%;
}
.info-graphics__item:last-child {
    border-right: 0;
}
.info-graphics__icon {
    font-size: 45px;
    color: #fff;
}
.info-graphics__title {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}
/* Indicators
---------------------------------------*/
.indicators {
    background: url('../images/indicators.png') #F7F7F4 bottom no-repeat;
    padding: 50px 10px 70px;
    background-size: contain;
}
.indicators__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #303031;
}
.indicators__list:after,
.indicators-progress__item:after {
    display: block;
    content: '';
    clear: both;
}
.indicators__item {
    min-height: 1px;
    float: left;
    width: 20%;
}
.indicators__item_title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.indicators-progress__list {
    list-style: none;
}
.indicators-progress__item {
    padding: 3px;
}
.indicators-progress__title {
    line-height: 24px;
    min-height: 1px;
    float: left;
    width: 20%;
}
.indicators-progress__block {
    min-height: 1px;
    float: left;
    width: 80%;
}
.indicators-progressed {
    background: -webkit-linear-gradient(to top, rgb(58, 175, 73), rgb(49, 155, 63), rgb(58, 175, 73));;
    background: -moz-linear-gradient(to top, rgb(58, 175, 73), rgb(49, 155, 63), rgb(58, 175, 73));;
    background: -o-linear-gradient(to top, rgb(58, 175, 73), rgb(49, 155, 63), rgb(58, 175, 73));;
    background: linear-gradient(to top, rgb(58, 175, 73), rgb(49, 155, 63), rgb(58, 175, 73));;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    height: 24px;
    color: #fff;
}

/* News
---------------------------------------*/
.news {
    padding-top: 30px;
}
.news__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #303031;
}
.news__btn {
    padding-bottom: 30px;
    text-align: center;
}
.news__btn_link {
    border-bottom: 1px dashed #319b3f;
    font-size: 13px;
    color: #319b3f;
}
.news__list:after {
    display: block;
    content: '';
    clear: both;
}
.news .news__item:first-child {
    background: no-repeat 50% / cover;
    position: relative;
    min-height: 1px;
    transition: .3s;
    display: block;
    height: 420px;
    float: left;
    width: 50%;
}
.news__item {
    background: no-repeat 50% / cover;
    position: relative;
    min-height: 1px;
    display: block;
    height: 210px;
    float: left;
    width: 25%;
}
.news__item:after {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    transition: .3s;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
}
.news__item:hover::after {
    background-color: rgba(49, 155, 63, 0.5);
}
.news__item:hover .news__item_date {
    color: #fff;
}
.news__item_info {
    position: absolute;
    transition: .3s;
    font-size: 16px;
    float: left;
    width: 80%;
    bottom: 7%;
    z-index: 2;
    left: 5%;
}
.news__item:hover .news__item_info {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.news__item_date {
    padding-bottom: 10px;
    color: #319b3f;
}
.news__item__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}
.news__item__title:after {
    font-family: 'on', sans-serif !important;
    position: absolute;
    content: "\e903";
    font-size: 22px;
    transition: .3s;
    color: #319b3f;
    right: -20px;
    top: 55%;
}
.news__item:hover .news__item__title:after {
    color: #fff;
}
/* Feedback
---------------------------------------*/
.feedback {
    background: url('../images/feedback.png') no-repeat center;
    background-size: cover;
    padding: 25px;
    height: 450px;
}
.feedback__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}
.feedback__desc {
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
.feedback__form {
    padding: 20px;
}
.feedback__form:after {
    display: block;
    content: '';
    clear: both;
}
.feedback__form_block {
    min-height: 1px;
    padding: 10px 30px;
    float: left;
    width: 50%;
}
.feedback__input {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
    -o-box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
    box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
    border: 2px solid #fff;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
.feedback__btn {
    text-align: center;
    min-height: 1px;
    padding: 20px;
    float: left;
    width: 100%;
}
.feedback__btn button {
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #319b3f;
    padding: 10px 20px;
    transition: .3s;
    color: #fff;
}
.feedback__btn button:hover {
    -webkit-box-shadow: 0 0 20px rgb(49, 155, 63) inset;
    -moz-box-shadow: 0 0 20px rgb(49, 155, 63) inset;
    -o-box-shadow: 0 0 20px rgb(49, 155, 63) inset;
    box-shadow: 0 0 20px rgb(49, 155, 63) inset;
}
.feedback__form_block  .control-label {
    display: inline-block;
    padding-bottom: 4px;
    color: #fff;
}
.feedback__form_block .help-block {
    color: #ff8686;
}
/* Subsidiary
---------------------------------------*/
.subsidiary {
    max-width: 1026px;
    padding: 5px 0;
    margin: 0 auto;
    width: 100%;
}
.subsidiary-carousel .item img {
    transition: .3s;
}
.subsidiary-carousel .item:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
/* State Website
---------------------------------------*/
.state-website {
    background-color: #4a4b4c;
    padding: 15px 0;
}
.state-website .container {
    padding: 0 20px;
}
.state-website-carousel {
    position: relative;
}
.state-website-carousel .owl-next {
    position: absolute;
    font-size: 25px;
    right: -30px;
    color: #fff;
    top: 32%;
}
.state-website-carousel .owl-prev {
    position: absolute;
    font-size: 25px;
    left: -30px;
    color: #fff;
    top: 32%;
}
/* Modal
---------------------------------------*/
.modal,
.modal-box {
    z-index: 900;
}
.modal-sandbox {
    background: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.modal {
    background: rgba(0,0,0,.8);
    position: fixed;
    overflow: auto;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.modal-box {
    animation-timing-function: ease-out;
    animation-name: modalbox;
    animation-duration: .3s;
    margin: 150px auto;
    position: relative;
    max-width: 920px;
    width: 80%;
}
.modal-header {
    background: #546E7A;
    padding: 20px 40px;
    color: #ffffff;
}
.modal-body {
    background: #fff;
    padding: 0;
}
.close-modal {
    position: absolute;
    text-align: right;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
    top: -35px;
    right: 0;
}
.modal-subsidiary__list:after {
    display: block;
    content: '';
    clear: both;
}
.modal-subsidiary__item {
    text-align: center;
    min-height: 1px;
    width: 33.3333%;
    display: block;
    color: #000;
    float: left;
}
.modal-subsidiary__name {
    text-transform: uppercase;
}
@-webkit-keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes modalbox {
    0% {
        top: -250px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}