/* About
_______________________________*/
ul, ol {
    margin: 0;
}
.site-about {
    height: 600px;
    background: url('../images/about.png') center no-repeat;
    background-size: cover;
}
.site-about:after {
    display: block;
    content: '';
    clear: both;
}
.about__info table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.about__info td,
.about__info th {
    border: 1px solid #319b3f;
    text-align: left;
    padding: 8px;
}
.about__info tr.black {
    background-color: #319b3f;
}
.about__info .number {
    width: 1%;
}
.about__info .name {
    width: 50%;
}
.about__list {
    padding: 0 60px;
    min-height: 1px;
    float: left;
    color: #fff;
    width: 30%;
}
.about__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 40px;
    color: #fff;
}
.about__block {
    padding-right: 10px;
    overflow-y: scroll;
    height: 400px;
    float: left;
    color: #fff;
    width: 70%;
}
.about__scroll {
    min-height: 450px;
}
.about__block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    background-color: transparent;
    border-radius: 10px;
}
.about__block::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
.about__block::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #fff;
}
.about__list ul {
    list-style: square;
}
.about__item.active,
.about__item:focus,
.about__item:hover {
    background-color: #319b3f;
}
.about__link {
    color: #fff;
    padding: 5px 10px;
    display: block;
}
.about__info p {
    margin-bottom: 10px;
}
/* Project
_______________________________*/
.project {
    padding: 40px 0;
}
.project:after,
.project__list:after{
    display: block;
    content: '';
    clear: both;
}
.project-title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.project-nav {
    border-right: 1px solid #000;
    padding: 0 20px;
    min-height: 1px;
    float: left;
    width: 25%;
}
.project-nav__total {
    font-weight: 600;
}
.project-nav__total span {
    font-weight: normal;
    color: #808080;
}
.project-nav__list {
    padding: 15px 0 25px;
    list-style: none;
}
.project-nav__list li a {
    padding: 5px 10px 5px 20px;
    position: relative;
    transition: .3s;
    font-size: 15px;
    display: block;
    color: #000;
}
.project__filter_title {
    text-transform: uppercase;
    padding-bottom: 5px;
}
.project__filter_select select {
    -webkit-appearance: menulist;
    -webkit-rtl-ordering: logical;
    background-color: transparent;
    -moz-appearance: menulist;
    border: 1px solid #D6D6D6;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}
.project-nav__list .active,
.project-nav__list a:hover {
    background-color: #319b3f;
    color: #fff;
}
.project-nav__list li a:before {
    position: absolute;
    content: '■';
    left: 6px;
    top: 3px;
}
.project-nav__list input {
    display: none;
}
.project-nav__list label {
    display: block;
    position: relative;
    transition: .3s;
    padding: 5px 5px 5px 20px;
}
.project-nav__list label::before {
    position: absolute;
    content: "■";
    left: 6px;
    top: 3px;
}
.project-nav__list label:hover {
    background-color: #319b3f;
    color: #fff;
}
.project-nav__list input:checked + label {
    background-color: #319b3f;
    color: #fff;
}
.project-content {
    padding-left: 20px;
    min-height: 1px;
    float: left;
    width: 70%;
}
.project__price_title {
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-top: 20px;
}
.project__price_input {
    padding: 5px 5px 5px 0;
    min-height: 1px;
    float: left;
    width: 50%;
}
.project__price_input:last-child {
    padding-left: 5px;
    padding-right: 0;
}
.project__price_input input {
    padding: 5px;
    width: 100%;
}
.project__filter_btn button {
    background-color: #319b3f;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    border: 0;
}
.project__filter_btn {
    margin-top: 20px;
}
.project__item {
    padding: 0 5px 10px 5px;
    transition: .01s;
    width: 33.3333%;
    min-height: 1px;
    float: left;
}
.project__item_img {
    background: no-repeat 50% / cover;
    position: relative;
    display: block;
    height: 140px;
}
.project__item_title {
    background-color: #319b3f;
    display: block;
    padding: 8px 15px;
    color: #fff;
    height: 65px;
}
.project__item_info {
    background-color: #F8F8F6;
    border: 1px solid #D6D6D4;
    padding: 15px;
    border-top: 0;
}
.project-item__info_desc {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    height: 50px;
}
.project-item__info_desc:after {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(153,218,255,0)), color-stop(100%, rgba(248,248,246,1)));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#F8F8F6',GradientType=1 );
    background: -webkit-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -o-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: linear-gradient(90deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    position: absolute;
    height: 20px;
    width: 30px;
    content: '';
    bottom: 0;
    right: 0;
}
.project-item__info_work {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    height: 30px;
}
.project-item__info_work:after,
.project-item__info_address:after{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(153,218,255,0)), color-stop(100%, rgba(248,248,246,1)));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#F8F8F6',GradientType=1 );
    background: -webkit-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -o-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: linear-gradient(90deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    position: absolute;
    height: 11px;
    width: 30px;
    content: '';
    bottom: 0;
    right: 0;
}
.project-item__info_address {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    font-size: 10px;
    height: 25px;
}
.project-item__info_value {
    font-size: 22px;
    color: #319b3f;
}
.project-item__info_value span {
    vertical-align: text-top;
    font-size: 13px;
    color: #000;
}
.project .pagination {
    text-align: center;
    padding: 15px;
}
.project .pagination ul {
    list-style: none;
}
.project .pagination li {
    display: inline-flex;
    padding: 0 5px;
}
.project .pagination a {
    color: #000;
}
.project .pagination .active,
.project .pagination a:hover {
    text-decoration: underline;
    color: #319b3f;
}
/* Project Item
_______________________________*/
.project-clause__breadcrumbs {
    background: url('/images/indicators.png') #F7F7F4 bottom no-repeat;
    background-size: contain;
    padding: 20px 0 50px;
    text-align: center;
}
.project-clause__page_name {
    font-family: "LatoRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 31px;
}
.project-clause_back {
    border-bottom: 1px dashed #319b3f;
    display: inline-block;
    color: #319b3f;
}
.project-clause_title {
    font-family: "LatoRegular", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 18px;
}
.project-clause .project-clause__block {
    padding: 50px 10px;
    min-height: 1px;
    float: left;
    width: 37.5%;
}
.project-clause .project-clause__block:first-child {
    padding-left: 0;
}
.project-clause .project-clause__block:last-child {
    padding-right: 0;
    width: 25%;
}
.clause-carousel {
    padding: 5px 0;
}

.project-image {}
.project-image__item {}
.project-image__main {
    background: no-repeat 50% / cover;
    position: relative;
    display: block;
    height: 270px;
}
.project-image__thumb {
    background: no-repeat 50% / cover;
    position: relative;
    display: block;
    height: 40px;
}

.image .project-clause .contact {
    padding: 15px 0;
}
.project-contact {
    padding: 15px 0
}
.project-contact__title {
    font-family: "LatoRegular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #319b3f;
    font-size: 22px;
}
.project-contact__address {
    margin-bottom: 25px;
    font-weight: 600;
}
.project-contact__info {
    font-size: 13px;
}
.project-contact__info {
    margin-bottom: 20px;
}

/* Project Item
_______________________________*/
.project-clause__breadcrumbs {
    background: url('/images/indicators.png') #F7F7F4 bottom no-repeat;
    background-size: contain;
    padding: 20px 0 50px;
    text-align: center;
}
.project-clause__page_name {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 31px;
}
.project-clause_back {
    border-bottom: 1px dashed #319b3f;
    display: inline-block;
    color: #319b3f;
}
.project-clause_title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 18px;
}
.project-clause .project-clause__block {
    padding: 50px 10px;
    min-height: 1px;
    float: left;
    width: 37.5%;
}
.project-clause .project-clause__block:first-child {
    padding-left: 0;
}
.project-clause .project-clause__block:last-child {
    padding-right: 0;
    width: 25%;
}
.clause-carousel {
    padding: 5px 0;
}
.image .project-clause__img {
    background: no-repeat 50% / cover;
    position: relative;
    display: block;
    height: 270px;
}
.image .project-clause__img_min {
    background: no-repeat 50% / cover;
    position: relative;
    display: block;
    height: 40px;
}
.image .project-clause .contact {
    padding: 15px 0;
}
.contact {
    padding: 15px 0
}
.contact .project-contact__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #319b3f;
    font-size: 22px;
}
.contact .project-contact__info {
    font-size: 13px;
}
.contact .project-contact__info p {
    margin-bottom: 20px;
}
.detailed-info {
    background-color: #319b3f;
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px;
    color: #fff;
}
.detailed-info__link {
    text-decoration: underline;
    color: #fff;
}
.about-project__value {
    margin-bottom: 40px;
}
.about-project__value_title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #319b3f;
}
.about-project__value_realization {
    margin: 5px 0;
}
.about-project__value_number {
    font-family: "PTSansRegular", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #319b3f;
}
.about-project__target_title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #319b3f;
}
.about-project__target_text p,
.about-project__target_text strong,
.about-project__target_text b {
    margin-bottom: 10px;
    display: block;
}
.similar-projects__item {
    padding-bottom: 15px;
}
.similar-projects__title {
    margin-bottom: 15px;
}


/* Procurement
_______________________________*/
.procurement {
    padding: 40px 0;
}
.procurement:after,
.procurement__list:after{
    display: block;
    content: '';
    clear: both;
}
.procurement-title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.procurement-nav {
    border-right: 1px solid #000;
    padding: 0 20px;
    min-height: 1px;
    float: left;
    width: 25%;
}
.procurement-nav__list {
    padding-bottom: 25px;
    list-style: none;
}
.procurement-nav__list li a {
    padding: 5px 10px 5px 20px;
    position: relative;
    transition: .3s;
    font-size: 15px;
    display: block;
    color: #000;
}
.procurement-nav__list .active,
.procurement-nav__list a:hover {
    background-color: #319b3f;
    color: #fff;
}
.procurement-nav__list li a:before {
    position: absolute;
    content: '■';
    left: 6px;
    top: 3px;
}
.procurement-content {
    padding-left: 20px;
    min-height: 1px;
    float: left;
    width: 70%;
}
.procurement__item {
    padding: 0 5px 10px 5px;
    transition: .01s;
    width: 33.3333%;
    min-height: 1px;
    float: left;
}
.procurement__item_title {
    background-color: #319b3f;
    padding: 15px;
}
.procurement__item_title_text {
    position: relative;
    overflow: hidden;
    font-size: 13px;
    display: block;
    height: 135px;
    color: #fff;
}
.procurement__item_title_text:after {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(153,218,255,0)), color-stop(100%, rgba(248,248,246,1)));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#F8F8F6',GradientType=1 );
    background: -webkit-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgb(6, 81, 148) 100%);
    background: -moz-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgb(6, 81, 148) 100%);
    background: -ms-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgb(6, 81, 148) 100%);
    background: -o-linear-gradient(90deg, rgba(153,218,255,0) 0%, rgb(6, 81, 148) 100%);
    background: linear-gradient(90deg, rgba(153,218,255,0) 0%, rgb(6, 81, 148) 100%);
    position: absolute;
    height: 15px;
    width: 30px;
    bottom: 0;
    right: 0;
}
.procurement__item_info {
    background-color: #F8F8F6;
    border: 1px solid #D6D6D4;
    padding: 15px;
    border-top: 0;
}
.procurement-item__info_desc {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    height: 105px;
}
.procurement-item__info_desc:after {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(153,218,255,0)), color-stop(100%, rgba(248,248,246,1)));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#F8F8F6',GradientType=1 );
    background: -webkit-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -ms-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: -o-linear-gradient(0deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    background: linear-gradient(90deg, rgba(153,218,255,0) 0%, rgba(248,248,246,1) 100%);
    position: absolute;
    height: 15px;
    width: 30px;
    content: '';
    bottom: 0;
    right: 0;
}
.procurement .pagination {
    text-align: center;
    padding: 15px;
}
.procurement .pagination ul {
    list-style: none;
}
.procurement .pagination li {
    display: inline-flex;
    padding: 0 5px;
}
.procurement .pagination a {
    color: #000;
}
.procurement .pagination .active,
.procurement .pagination a:hover {
    text-decoration: underline;
    color: #319b3f;
}
/* Procurement Item
_______________________________*/
.procurement-item__breadcrumbs {
    background: url(/images/indicators.png) #F7F7F4 bottom no-repeat;
    background-size: contain;
    padding: 40px 0 60px;
    text-align: center;
}
.procurement-item__page_name {
    font-family: "PTSansBold", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}
.procurement-item__list {
    list-style: none;
    padding: 30px 0;
}
.procurement-item__list li {
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
}
.procurement-item__list li a {
    text-decoration: underline;
    color: #000;
}
.procurement-item__list li a:hover {
    color: #319b3f;
}
.procurement-item__list li:hover {
    color: #319b3f;
}
.pdf:before {
    font-family: 'on', sans-serif !important;
    content: "\f1c1";
    position: absolute;
    font-size: 12px;
    left: 12px;
    top: 2px;
}
.word:before {
    font-family: 'on', sans-serif !important;
    content: "\f1c2";
    position: absolute;
    font-size: 12px;
    left: 12px;
    top: 2px;
}
.file:before {
    font-family: 'on', sans-serif !important;
    content: "\f0f6";
    position: absolute;
    font-size: 12px;
    left: 12px;
    top: 2px;
}
/* Calendar
_______________________________*/
.calendar-wrapper table {
    clear: both;
    width: auto;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
}
.calendar-wrapper .well-sm {
    padding: 0;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 0;
}
.calendar-wrapper td {
    height: 36px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #F5F5F5;
    width: 14.28571429%;
}
.calendar-wrapper td.not-current {
    color: #c0c0c0;
}
.calendar-wrapper td.today {
    font-weight: 700;
    color: #56B863;
    font-size: 1.5em;
}
.calendar-wrapper thead td {
    border: none;
    color: #28283b;
    font-size: 1em;
}
.krajee-datepicker.input-sm {
    display: none;
}
.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    color: #fff;
    background-color: #319b3f;
    border-color: #204d74;
}
/* Transportation
_______________________________*/
.site-transportation {
    height: 650px;
    background: url('/images/about.png') center no-repeat;
    background-size: cover;
}
.transportation__list {
    padding: 0 60px 20px;
    text-align: center;
    color: #fff;
}
.transportation__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 40px;
    color: #fff;
}
.transportation__block {
    padding-right: 10px;
    overflow-y: scroll;
    height: 400px;
    color: #fff;
}
.transportation__scroll {
    min-height: 450px;
}
.transportation__block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    background-color: transparent;
    border-radius: 10px;
}
.transportation__block::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
.transportation__block::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #fff;
}
.transportation__list ul {
    display: inline-flex;
    list-style: none;
}
.transportation__item {
    padding: 0 10px;
}
.transportation__link {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    display: block;
    color: #000;
}
.transportation__link:hover,
.transportation__link:focus,
.transportation__link:active,
.transportation__item .active {
    background-color: #319b3f;
    color: #fff;
}
.transportation__info p {
    margin-bottom: 10px;
}
/* Industrial
_______________________________*/
.site-industrial {
    background: url('../images/about.png') center no-repeat;
    background-size: cover;
    min-height: 500px;
}
.site-industrial iframe {
    margin-bottom: 80px;
}
.site-industrial:after {
    display: block;
    content: '';
    clear: both;
}
.site-industrial .map {
    padding-bottom: 80px;
}
.industrial__list {
    padding: 0 60px;
    min-height: 1px;
    float: left;
    color: #fff;
    width: 30%;
}
.industrial__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 40px;
    color: #fff;
}
.industrial__block {
    border-left: 1px solid;
    margin-bottom: 30px;
    padding-left: 30px;
    min-height: 440px;
    float: left;
    color: #fff;
    width: 70%;
}
.industrial__list .tabs {
    list-style: square;
}
.industrial__item.active,
.industrial__item:hover,
.industrial__item:focus {
    background-color: #319b3f;
}
.industrial__link {
    color: #fff;
    padding: 5px 10px;
    display: block;
}
.industrial__info p {
    margin-bottom: 10px;
}
.industrial__block_img:after {
    display: block;
    content: '';
    clear: both;
}
.industrial__img {
    padding: 10px 10px 0 10px;
    min-height: 1px;
    float: left;
    width: 25%;
}
.industrial__img_min {
    background: no-repeat 50% / cover;
    position: relative;
    display: block;
    height: 100px;
}
.industrial__block_typography {
    padding: 20px 10px;
}
.industrial__block_typography table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
}
.industrial__block_typography th,
.industrial__block_typography td {
    border: 1px solid #fff;
    text-align: center;
    padding: 5px;
}
.industrial__block_typography div {
    margin-bottom: 15px;
}
.industrial__block_typography ul {
    list-style: none;
    padding-left: 15px;
    margin-left: 5px;
    font-size: 13px;
}
.industrial__block_typography strong {
    font-family: "PTSansBold", sans-serif;
    font-size: 15px;
}
.industrial__block_typography i {
    font-style: italic;
}
/* Media
_______________________________*/
.media {
    padding: 40px 0;
}
.media:after,
.media__list:after{
    display: block;
    content: '';
    clear: both;
}
.media-title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.media-left {
    border-right: 1px solid #000;
    padding: 0 20px;
    min-height: 1px;
    float: left;
    width: 25%;
}
.media-nav__list {
    padding-bottom: 25px;
    list-style: none;
}
.media-nav__list li a {
    padding: 5px 10px 5px 20px;
    position: relative;
    transition: .3s;
    font-size: 15px;
    display: block;
    color: #000;
}
.media-nav__list .active a,
.media-nav__list a:hover {
    background-color: #319b3f;
    color: #fff;
}
.media-nav__list li a:before {
    position: absolute;
    content: '■';
    left: 6px;
    top: 3px;
}
.media-content {
    padding-left: 20px;
    min-height: 1px;
    float: left;
    width: 70%;
}
.media__item {
    padding: 0 5px 10px 5px;
    transition: .01s;
    min-height: 1px;
    float: left;
    width: 50%;
}
.media__item__img {
    background: no-repeat 50% / cover;
    position: relative;
    transition: .3s;
    min-height: 1px;
    display: block;
    height: 210px;
}
.media__item__img:after {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    transition: .3s;
    height: 100%;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
}
.media__item__img:hover::after {
    background-color: rgba(49, 155, 63, 0.4);
}
.media__item__img:hover .news__item_date,
.media__item__img:hover .news__item__title:after {
    color: #fff;
}
.media__item_info {
    position: absolute;
    transition: .3s;
    font-size: 16px;
    float: left;
    width: 80%;
    bottom: 7%;
    z-index: 2;
    left: 5%;
}
.media__item_date {
    padding-bottom: 10px;
    color: #03A9F4;;
}
.media__item__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
}
.media__item__title:after {
    font-family: 'on', sans-serif !important;
    position: absolute;
    content: "\e901";
    font-size: 22px;
    transition: .3s;
    color: #03A9F4;
    right: -20px;
    top: 55%;
}
.media .pagination {
    text-align: center;
    padding: 15px;
}
.media .pagination ul {
    list-style: none;
}
.media .pagination li {
    display: inline-flex;
    padding: 0 5px;
}
.media .pagination a {
    color: #000;
}
.media .pagination .active,
.media .pagination a:hover {
    text-decoration: underline;
    color: #319b3f;
}
/* News Item
_______________________________*/
.news-clause__breadcrumbs {
    background: url('/images/indicators.png') #F7F7F4 bottom no-repeat;
    background-size: contain;
    padding: 30px 0 60px;
    text-align: center;
}
.news-clause__page_name {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 31px;
}
.news-clause_title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 18px;
}
.news-clause:after {
    display: block;
    content: '';
    clear: both;
}
.news-item {
    padding: 20px 10px 20px 0;
    min-height: 1px;
    float: left;
    width: 75%;
}
.news-similar {
    padding: 20px 0 20px 10px;
    min-height: 1px;
    float: left;
    width: 25%;
}
.news-item__data {
    color: #319b3f;
    margin-bottom: 10px;
}
.news-item__title {
    font-family: "PTSansRegular", sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}
.news-item__image {
    margin-bottom: 20px;
    width: 100%;
}
.news-item__typography p {
    margin-bottom: 10px;
}
.news-similar__title {
    margin-bottom: 10px;
}
.news-similar__item {
    padding-bottom: 15px;
}
.news-similar__item .media__item__img {
    height: 150px;
}
/* Participants
_______________________________*/
.site-participants {
    background: url('../images/about.png') center no-repeat;
    background-size: cover;
    padding-bottom: 80px;
}
.site-participants:after {
    display: block;
    content: '';
    clear: both;
}
.participants__list {
    padding: 0 60px;
    min-height: 1px;
    float: left;
    color: #fff;
    width: 30%;
}
.participants__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 40px;
    color: #fff;
}
.participants__block {
    padding-bottom: 30px;
    color: #fff;
}
.participants__list ul {
    list-style: square;
}
.participants__item.active,
.participants__item:hover,
.participants__item:focus {
    background-color: #319b3f;
}
.participants__link {
    color: #fff;
    padding: 5px 10px;
    display: block;
}
.participants__info p {
    margin-bottom: 10px;
}
.participants__info ul {
    margin-left: 10px;
}
.participants__info li {
    list-style: none;
}
.participants__info a {
    color: #fff;
}
.participants__block_img:after {
    display: block;
    content: '';
    clear: both;
}
.participants__img {
    padding: 10px 10px 0 10px;
    min-height: 1px;
    float: left;
    width: 25%;
}
.participants__img_min {
    background: no-repeat 50% / cover;
    position: relative;
    display: block;
    height: 100px;
}
.participants__block {
    padding-right: 10px;
    overflow-y: scroll;
    height: 400px;
    color: #fff;
}
.participants__scroll {
    min-height: 450px;
}
.participants__block_typography {
    padding: 0 10px;
}
.participants__block_typography div {
    margin-bottom: 15px;
}
.participants__block_typography ul {
    padding-left: 15px;
    font-size: 13px;
}
.participants__main_item {
    padding: 0 10px;
}
.participants__main_list {
    padding: 0 60px 40px;
    text-align: center;
    color: #fff;
}
.participants__main_list ul {
    display: inline-flex;
    list-style: none;
}
.participants__main_link:hover,
.participants__main_link:focus,
.participants__main_link:active,
.participants__main_item .active {
    background-color: #319b3f;
    color: #fff;
}
.participants__main_link {
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    display: block;
    color: #000;
}
.stages-implementation {
    background-color: #fff;
    padding: 90px 0;
}
.stages-implementation__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 40px;
    color: #000;
}
.stages-implementation__img {
    width: 100%;
}
.company-indicators {
    background: url(../images/about.png) center no-repeat;
    background-size: cover;
    padding: 30px 0 80px;
}
.company-indicators__title {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 40px;
    color: #fff;
}
.company-indicators__img {
    width: 100%;
}
.company-indicators .indicators__item {
    min-height: 1px;
    float: left;
    width: 25%;
    color: #fff;
}
.company-indicators .indicators-progress__text {
    padding-left: 20%;
}
.participants__block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    background-color: transparent;
    border-radius: 10px;
}
.participants__block::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
.participants__block::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #fff;
}
.participants__normative {
    padding: 20px 140px;
}
.participants__normative ul {
    list-style: none;
}
.participants__normative li {
    padding-bottom: 5px;
}
.participants__normative a {
    color: #fff;
}
.participants__download {
    padding: 15px;
    text-align: center;
}
.participants__download_link {
    display: inline-block;
    padding: 5px 15px;
    background-color: #319b3f;
}
/* Contact
_______________________________*/
.contact__breadcrumbs {
    background: url('/images/indicators.png') #F7F7F4 bottom no-repeat;
    background-size: contain;
    padding: 30px 0 60px;
    text-align: center;
}
.contact__page_name {
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 31px;
}
.contact__block {
    padding: 50px 0;
}
.contact__block:after {
    display: block;
    content: '';
    clear: both;
}
.contact__info {
    padding-right: 10px;
    min-height: 1px;
    float: left;
    width: 50%;
}
.contact__map {
    padding-left: 10px;
    min-height: 1px;
    float: left;
    width: 50%;
}
.contact__info_title,
.contact__map_title {
    font-family: "PTSansBold", sans-serif;
    font-size: 17px;
}
.contact__table {
    padding-top: 20px;
    text-align: left;
    font-size: 15px;
    width: 100%;
}
.contact__table td,
.contact__table th {
    vertical-align: text-top;
    padding: 5px 0;
}
.contact__table th {
    width: 230px;
}
.contact__map iframe {
    padding-top: 30px;
}
/* Tabs
_______________________________*/
ul.tabs {
    list-style: none;
    display: inline;
}
ul.tabs:after {
    display: block;
    content: '';
    clear: both;
}
ul.tabs li {
    cursor: pointer;
}
ul.tabs li.active {

}
.tab_drawer_heading {
    display: none;
}
/* Tabs 1
_______________________________*/
ul.tabs1:after {
    display: block;
    content: '';
    clear: both;
}
ul.tabs1 li {
    cursor: pointer;
}
ul.tabs1 li.active1 .participants__main_link{
    background-color: #319b3f;
    color: #fff;
}
.tab_drawer_heading1 {
    display: none;
}
/* Tabs 2
_______________________________*/
ul.tabs2 {
    list-style: none;
    display: inline;
}
ul.tabs2:after {
    display: block;
    content: '';
    clear: both;
}
ul.tabs2 li {
    cursor: pointer;
}
ul.tabs2 li.active2 {
    background-color: #319b3f;
    color: #fff;
}
.tab_drawer_heading2 {
    display: none;
}
/* Parents
_______________________________*/
.parents {
    padding-bottom: 30px;
}
.parents-page__title {
    background: url(../images/indicators.png) #F7F7F4 bottom no-repeat;
    font-family: "PTSansRegular", sans-serif;
    text-transform: uppercase;
    background-size: contain;
    padding: 50px 10px 70px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #303031;
}
.parents .container {
    padding: 0 20px;
}
.parents-carousel {
    position: relative;
    margin-top: 20px;
}
.parents-carousel .owl-next {
    position: absolute;
    font-size: 25px;
    color: #C1C1C0;
    right: -40px;
    top: 32%;
}
.parents-carousel .owl-prev {
    position: absolute;
    font-size: 25px;
    color: #C1C1C0;
    left: -40px;
    top: 32%;
}
/* Empty
_______________________________*/
.empty-page__title {
    color: rgba(0, 0, 0, 0.3);
    line-height: 200px;
    font-size: 22px;
}
.empty-page__title:before {
    background-image: url('/images/newspaper.png');
    position: absolute;
    height: 64px;
    content: '';
    width: 64px;
    left: 47%;
}
.empty-page {
    text-align: center;
    position: relative;
}
.error-page {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    position: relative;
    width: 1366px;
    height: 400px;
}
.error-page__title {
    color: rgba(0, 0, 0, 0.3);
    font-size: 28px;
}
.error-page__title:before {
    background-image: url('/images/error-404.png');
    position: absolute;
    height: 64px;
    content: '';
    width: 64px;
    left: 47%;
    top: 25%;
}
.error-page__link {
    border-bottom: 1px dashed;
    display: inline-block;
    margin-top: 10px;
    color: #319b3f;
}

/* Search
------------------------------*/
.search__breadcrumbs {
    background: url(/images/indicators.png) #F7F7F4 bottom no-repeat;
    background-size: contain;
    padding: 30px 0 60px;
    text-align: center;
}
.search__page_name {
    font-family: "LatoRegular", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.search {
    padding: 25px 0;
}
.search__item {
    background-color: #fbfbfb;
    border: 1px solid #D6D6D4;
    margin-bottom: 10px;
    padding: 15px;
}
.search__title {
    font-weight: 600;
    font-size: 16px;
    display: block;
    color: #000;
}
.search__category {
    background-color: #319b3f;
    display: inline-block;
    border-radius: 3px;
    font-size: 12px;
    color: #ffffff;
    padding: 0 5px;
}
.search .pagination {
    text-align: center;
    padding: 15px;
    width: 100%;
}
.search .pagination li {
    display: inline-flex;
    padding: 0 5px;
}
.search .pagination > li > a, .search .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
}
.search .pagination > li > a:hover {
    background-color: #eeeeee;
}
.ul-right-text {
    float: left;
    padding: 0px 25px;
    margin: 0px 100px 0px 225px;
}